!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= h("Amoeba")
    = stylesheet_link_tag "application", :media => "all"


  %body
    =render "layouts/navbar"
    = yield
    =render "layouts/footer"

    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false"
    = javascript_include_tag "application"
    %script{:type => "text/javascript", :charset => "utf-8"}
      = yield :scrip
